@import "pages/Style/variable.scss";
.referral-container {
  .ref-card {
    background-color: map-get($map: $background-colors, $key: "dark");
    padding: 3rem 3.2rem;
    border-radius: 1.6rem;
    color: map-get($map: $text-colors, $key: "white");
    &__title {
      color: map-get($map: $text-colors, $key: "white");
      font-size: 1.8rem;
    }
    &__btn {
      width: 10rem;
      height: 4.8rem;
      margin-top: 1rem;
      border-radius: 0.8rem !important;
      font-size: 1.6rem !important;
      text-transform: uppercase;
    }
  }
  .ref-list-item {
    display: flex;
    align-items: center;
    margin: 3.2rem 0;
    color: map-get($map: $text-colors, $key: "white");
    &__avatar {
      width: 7.2rem;
      height: 7.2rem;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 1.2rem;
      margin-right: 1.6rem;
    }
  }

  .fee-card{
    border-radius: 12px;
    background-image: linear-gradient(153deg, #4b4469 24%, #523a51 85%);
    padding: 1.6rem 2.4rem;
    
    ul{
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      margin:0;
      padding:0;
      li{
        width:40%;
        white-space: nowrap;
        &:not(:last-child){
          margin-bottom: 1.8rem;
        }
        &:nth-child(even)
        {
          margin-left: 15%;
        }
      }
    }
    &__title{
      font-size: 1.2rem;
    }
    &__content{
      font-size: 1.4rem;
      &--bold{
        font-weight: bold;
      }
    }
  }
}
