@import 'pages/Style/variable.scss';
.layout-container {
    .base-content {
        .base-container {
            min-height: calc(100vh);
            background-color: map-get($map: $background-colors, $key: 'page');
            
        }
    }
}