@import 'pages/Style/variable.scss';

.ldb-filter-container {
  margin: 3.2rem 0;
  .ldb-filter {
    &__icon {
      width: 4rem;
      height: 4rem;
      background-color: map-get($background-colors, 'purple-1');
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      align-self: flex-end;
      cursor: pointer;
      box-shadow: 0 0.6rem 2.9rem 0 rgba(13, 13, 13, 0.5);
      img {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}

.ldb-filter-nav {
  display: inline-flex;
  background-image: linear-gradient(
    to bottom,
    rgba(99, 0, 191, 0.38),
    rgba(73, 73, 73, 0)
  );
  border-radius: 2.7rem;
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding: 1.2rem 3.6rem;
      border-radius: 2.7rem;
      min-width: 18.3rem;
      color: map-get($text-colors, 'white');
      text-align: center;
      cursor: pointer;
      &.active {
        color: map-get($text-colors, 'pink-2');
        font-weight: bold;
        background-color: map-get($map: $background-colors, $key: 'purple');
        box-shadow: 0 0.9rem 1rem 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.ldb-list-item {
  position: relative;
  padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  border-radius: 1.2rem;
  &__true{
    // background-image: linear-gradient(116deg, #f9b4bd, #9573db);
    background-image: radial-gradient( #40c252, #434244);
  }
  &__false{
    background-color: #656565;
    opacity: 0.6;
  }
  &__powerOff{ 
    background-image: radial-gradient(#b33161, #821818); 
  }
  // &__DELETED{
  //   background-image: linear-gradient(116deg, #f9b4bd, #9573db);
  // }
  &__avatar {
    position: absolute;
    left: 1.6rem;
    top: 1.6rem;
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 0.8rem;
    background-size: cover;
    background-position: center center;
  }
  &__content {
    color: map-get($map: $text-colors, $key: 'white');
  }
  .ldb-card {
    &__label {
      font-weight: 300;
      &--blue {
        color: map-get($map: $text-colors, $key: 'blue') !important;
      }
    }
    &__icon {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 100%;
      margin: 0 0.8rem 0 0;
    }
    &__title {
      color: map-get($map: $text-colors, $key: 'white');
      font-size: 1.1rem;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      margin: 0;
      li {
        width: 50%;
        list-style: none;
        display: flex;
      }
      h6 {
        font-size: 1.4rem;
        font-weight: bold;
        color: map-get($map: $text-colors, $key: 'white');
      }
    }
  }
}
