@import 'pages/Style/variable.scss';
@import 'pages/Style/icons.scss';

.user-navigation {
  & .ant-menu-item {
    min-height: 5.2rem !important;
    // padding:1rem 3.8rem !important;
  }
  & .ant-menu-item:not(:last-child) {
    border-bottom: 0.1rem solid #292426;
  }
}

.header {
  display: flex;
  align-items: center;
  z-index: 1;
  font-size: 1.6rem;

  &.ant-layout-header {
    background-color: transparent;
    margin: 3.2rem 0;
    .ant-menu{
      line-height: initial !important;
    }
  }

  &__nav{
    span{
      display: flex;
      align-items: center;
    }
    img{
      width: 1.8rem !important;
      margin-right: 0.8rem;
    }
  }

  &__logo {
    img {
      max-height: 6.4rem;
    }
  }

  &-icon {
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    background-image: linear-gradient(135deg, #f9b4bd, #9573db);
    margin-right: 2.4rem;

    img {
      width: 1.5rem;
      height: auto;
    }
  }

  &__search-form {
    margin: 0 2.4rem !important;
    .ant-form-item-control-input-content {
      position: relative;
      .anticon-search {
        position: absolute;
        top: 50%;
        left: 2.4rem;
        transform: translateY(-50%);
        z-index: 1;
        color: map-get($text-colors, 'white');
      }
    }
    .ant-input {
      border: none;
      outline: none;
      border-radius: 1.2rem;
      padding: 0.8rem 2.4rem;
      padding-left: 5.2rem;
      background-image: linear-gradient(
        111deg,
        rgba(#9a7af6, 0.2) 47%,
        rgba(#ff4aa2, 0.2) 88%
      );
      background-color: transparent;
      box-shadow: none !important;
      outline: none !important;
      color: map-get($text-colors, 'white');
      &::placeholder {
        color: map-get($text-colors, 'white');
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.4rem;
    span {
      white-space: nowrap;
      text-shadow: 0 2px 6px rgba(255, 104, 179, 0.67);
      font-size: 1.6rem;
      color: map-get($text-colors, 'white');
    }

    &__avatar {
      height: 6.4rem;
      width: 6.4rem;
      border-radius: 50%;
      padding: 0.3rem;
      position: relative;
      display: flex;
      margin-left: 1.2rem;
      box-sizing: border-box;
      @include border-gradient(#f46d7e, #7a4cda);

      &:after {
        width: 90%;
        height: 90%;
        left: 5%;
        top: 5%;
        border-radius: 100%;
        content: ' ';
        position: absolute;
        box-shadow: 0 18px 64px 10px rgba(255, 104, 179, 0.24);
      }
      img {
        position: relative;
        z-index: 1;
        border-radius: 50%;
        //max-width: 100%;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }

  .header-authentication {
    min-width: 16rem;
    &__button {
      font-size: 1.6rem !important;
      margin-top: 0 !important;
    }
  }

  //Customize antmenu
  .ant-menu {
    flex: 1;
    margin-left: 5.6rem;
    &.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
      background-color: transparent;
      border-bottom: none;
    }
    .ant-menu-item,
    .ant-menu-item a {
      height: 4.6rem;
      line-height: 4.6rem;
      padding: 0 1.6rem;
      border: none;
      border-radius: 1.2rem;
      color: map-get($text-colors, 'gray');
      .ant-menu-item-icon {
        margin-right: 1.2rem;
      }
    }
    .ant-menu-item:hover,
    .ant-menu-item-selected {
      border: none;
      background-color: rgba(map-get($background-colors, 'page'), 0.32);
      color: map-get($text-colors, 'white');
      a {
        color: map-get($text-colors, 'white');
      }
    }
  }

  //SearchForm
}

// .header-background {
//   background-color: #020815;
// }

// .header-container {
//   width: 100%;
//   padding: 0px !important;
//   height: auto !important;
//   z-index: 1;

//   &--fixed {
//     position: fixed !important;
//     width: 100vw !important;
//     z-index: 1000000 !important;
//   }

//   &__topbar {
//     line-height: 5rem;
//     font-size: 1.3rem;
//   }

//   &__topbar,
//   &__topbar .ant-menu-dark {
//     background-color: map-get($background-colors, "dark");
//     color: map-get($text-colors, "white");
//   }

//   &__header {
//     position: relative;
//     min-height: 70vh;
//     background-color: map-get($background-colors, "dark");
//     margin: 5.5rem 0 0 0;

//     background-image: linear-gradient(
//         to bottom,
//         rgba(map-get($background-colors, "dark"), 1) 0%,
//         rgba(map-get($background-colors, "dark"), 0) 100%
//       ),
//       url(../../../static/Assets/Image/Header/header_bg.jpg);
//     background-size: cover;
//     background-position: center center;
//     text-transform: uppercase;

//     @media screen and (max-width: 769px) {
//       margin: 0;
//     }

//   }

//   &__textbox {
//     position: absolute;
//     width: 100%;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//   }

//   &__social-icons {
//     display: flex;
//     list-style: none;
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     > li {
//       flex: 1;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       height: 5rem;
//       &:not(:last-child){
//         margin-right: 3.2rem;
//       }
//     }
//   }

//   .icon {
//     fill: red;
//   }

//   .menu-item-deskop {
//     // float: 'right';
//     display: "flex";
//     justify-content: "space-around";
//     align-items: "center";
//   }

//   .bacoorTxt {
//     font-size: 30px;
//     text-transform: uppercase;
//     font-weight: bold;
//     letter-spacing: 10px;
//     color: #ffffff;
//   }
// }

// .header-navigation {
//   position: fixed;
//   z-index: 1000 !important;
//   width: 100vw;
//   transition: 0.3s;
//   .header-container__topbar {
//     background-color: #020815;
//   }

//   &__nav{
//     text-transform: uppercase;
//   }

//   &--fixed {
//     background: rgba(#020815, 0.94);
//     .header-container__topbar {
//       background-image: linear-gradient(to bottom, #020815, rgba(#020815, 0));
//       background-color: transparent;
//       .ant-menu {
//         line-height: inherit !important;
//       }
//     }
//     .ant-menu.header-background.ant-menu-dark {
//       background-image: linear-gradient(to bottom, #020815, rgba(#020815, 0));
//       background-color: transparent;
//     }
//   }
// }

// .heading-primary {
//   text-align: center;
//   width: 100%;
//   &--main {
//     font-size: 7.2rem;
//     font-weight: 500;
//     line-height: 8.2rem;
//     color: #fff;
//     margin: 0 0 2.2rem 0;
//     letter-spacing: -0.7px;
//     font-weight: normal;
//     @media screen and (max-width: 769px) {
//       font-size: 3rem;
//     }
//   }
//   &--sub {
//     font-weight: normal;
//     text-transform: none;
//     font-size: 1.7rem;
//     line-height: 1.86;
//     color: #fff;
//     margin: 0;
//     @media screen and (max-width: 769px) {
//       font-size: 1.3rem;
//     }
//   }
// }

// .select-avatar-sub-icon {
//   width: 12px;
//   height: 12px;
//   margin-right: 3px;
// }

// .select-avatar-sub-icon-address {
//   width: 12px;
//   height: 12px;
//   margin-left: 3px;
//   margin-top: -2px;
// }

// .select-avatar-sub-txt {
//   font-style: normal;
//   font-weight: normal;
//   font-size: 12px;
//   line-height: 16px;
//   letter-spacing: 0.25px;
//   color: #505b79;
// }

// .select-avatar-sub-txt-address {
//   font-style: normal;
//   font-weight: normal;
//   font-size: 12px;
//   line-height: 16px;
//   letter-spacing: 0.25px;
//   color: #787dff;
// }

// .selected-flag {
//   width: 30px;
//   height: 30px;
//   margin-right: 5px;
//   margin-top: -2px;
//   object-fit: contain;
// }

// .selected-avatar {
//   width: 36px;
//   height: 36px;
//   border-radius: 18px;
//   border: 1px solid #198da3;
//   box-shadow: 0 0 5px #198da3;
// }

// .menu-flag-item {
//   .flags {
//     width: 30px;
//     height: 30px;
//     margin-right: 5px;
//     object-fit: contain;
//   }
// }

// .ant-menu-item-selected {
//   background-color: transparent !important;
//   color: rgba(166, 165, 255, 0.87) !important;
// }

// .ant-menu-dark .ant-menu-item,
// .ant-menu-dark .ant-menu-item-group-title,
// .ant-menu-dark .ant-menu-item > a {
//   color: map-get($text-colors, "white") !important;
//   &.primary{
//     color: map-get($main-colors, "primary") !important;
//   }
// }

// .ant-menu-item {
//   > a {
//     &:link,
//     &:visited {
//       color: map-get($text-colors, "white") !important;
//       opacity: 1 !important;
//     }

//     &:hover {
//       color: map-get($main-colors, "primary") !important;
//       .icon {
//         filter: invert(74%) sepia(13%) saturate(1077%) hue-rotate(0deg)
//           brightness(94%) contrast(92%);
//       }
//     }
//   }

//   // &.ant-menu-item-selected{
//   //   > a{
//   //     &:link,&:visited{
//   //       color: map-get($main-colors, "primary") !important;
//   //       .icon {
//   //         filter: invert(74%) sepia(13%) saturate(1077%) hue-rotate(0deg)
//   //           brightness(94%) contrast(92%);
//   //       }
//   //     }
//   //   }
//   // }

// }
