.authentication-container{
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    .authentication-header{
        width: 100%;
        text-align: center;
        position: relative;
        &__logo{
            width: 20rem;
            display: inline-block;
            img{
                max-width: 100%;
            }
        }
    }
    .authentication-header-tabs{
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content:space-around;
        margin: 7.5rem 0 2.5rem 0;
        li {
            color: #fff;
            font-size: 3.2rem;
        }
        
    }
    .authentication-form{
        min-height: 100vh;
        -webkit-backdrop-filter: blur(3.6rem);
        backdrop-filter: blur(3.6rem);
        background-color: rgba(148, 144, 144, 0.2);
        display: flex;
        flex-direction: column;
        // justify-content:space-around;
        // align-items:center;
        padding: 5rem 4rem;
    }
    .authentication-footer{
        margin-top: auto;
        width: 100%;
        text-align: right;
    }
    .form{
        width: 100%;
    }
    .motion-path{
        width: 8rem;
        height: 0.3rem;
        background-color: #fff;
        content: " ";
        position: absolute;
        bottom: 2rem;
    }
}