@import 'pages/Style/variable.scss';
.market-detail-container {
  .market-container {
    padding: 0 5rem;
    &:before,&:after{
      display: none !important;
    }

  }

  
  .market {
    color: map-get($map: $text-colors, $key: 'white');
    &__favorite {
      margin-right: 2.4rem;
    }
    
    &__chart {
      margin-top: 3.6rem;
      border: none;
      outline: none;
      width: calc(100% + 6.4rem);
      position:relative;
      left:-3.2rem;
      height: 45rem;
    }

    &__coins{
        // min-width: 10rem;
        .ant-select{
            width: 100%;
            background-color: transparent !important;
            .ant-select-selector{
                background-color: transparent !important;
                color: #fff !important;
                border:none !important;
                padding-top: 0.3rem;
            }
        }
    }

    &__coin-icon{
        width: 3.6rem;
        height: 3.6rem;
        min-width: 3.6rem;
        min-height: 3.6rem;
        border:1px solid #fff;
        border-radius: 100%;
        margin-right: 2.4rem;
        background: #fff;
        img{
          max-width: 100%;
            min-width:100%;
            min-height: 100%;
            border-radius: 100%;
        }
    }

    &__price {
      font-size: 2.8rem;
      margin: 0 2.4rem;
      font-weight: bold;
    }
    &__change {
      font-size: 1.6rem;
      font-weight: 300;
      ins {
        color: #00ff00;
        text-decoration: none;
      }
    }
    &__highlow {
      min-width: 14rem;
      margin-left: auto;
      padding: 0.8rem 1.6rem;
      border-radius: 1.2rem;
      box-shadow: 0 2px 50px 5px rgba(0, 0, 0, 0.16);
      background-image: linear-gradient(
        111deg,
        rgba(249, 180, 189, 0.23) 1%,
        rgba(149, 115, 219, 0)
      );
      > div {
        display: flex;
        justify-content: space-between;
      }
      span:first-child {
        color: map-get($map: $text-colors, $key: 'pink-2');
      }
    }
  }

  .market-card {
    background-color: map-get($map: $background-colors, $key: 'dark');
    padding: 3.2rem;
    height: 100%;
    border-radius: 1.2rem;
    &__icon {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
    &__balance {
      text-align: right;
      color: map-get($map: $text-colors, $key: 'white');
      font-size: 1.2rem;
      span {
        color: map-get($text-colors, 'pink');
      }
    }
    &__title {
      font-size: 1.8rem;
      font-weight: 600;
      color: map-get($map: $text-colors, $key: 'white');
    }
  }
  .btn-custom {
    width: 70%;
    border-radius: 10rem;
    border: none;
    outline: none;
    padding: 1.2rem;
    color: map-get($map: $text-colors, $key: 'white');
    position: relative;
    cursor: pointer;
    span {
      position: relative;
      display: block;
      font-weight: bold;
      z-index: 1;
    }
    small {
      position: relative;
      font-size: 1.2rem;
      z-index: 1;
    }
    &--long {
      background-image: linear-gradient(to left, #b4ec51 7%, #429321);
      border-top-left-radius: 1.2rem;
      &:after,
      &:before {
        content: '';
        position: absolute;
        left: 20%;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to left, #b4ec51 7%, #429321);
        opacity: 0.2;
        border-radius: 10rem;
        z-index: 0;
      }
      &:before {
        left: 40%;
      }
    }
    &--short {
      float: right;
      background-image: linear-gradient(104deg, #ff8c3c 12%, #ff0089 99%);
      border-top-right-radius: 1.2rem;
      &:before,
      &:after {
        content: '';
        position: absolute;
        left: -20%;
        top: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(104deg, #ff8c3c 12%, #ff0089 99%);
        opacity: 0.2;
        border-radius: 10rem;
      }
      &:before {
        left: -40%;
      }
    }
  }
  .history-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    .history-item {
      color: map-get($map: $text-colors, $key: 'white');
      position: relative;
      background-image: linear-gradient(
        129deg,
        rgba(#f9b4bd, 0.32),
        rgba(#9573db, 0.32)
      );
      padding: 1.6rem 2.4rem;
      border-radius: 1.2rem;
      &:not(:last-child) {
        margin-bottom: 3.2rem;
      }

      &:after,
      &:before {
        width: 3.2rem;
        height: 3.2rem;
        background-color: map-get($background-colors, 'dark');
        content: '';
        display: block;
        position: absolute;
        border-radius: 100%;
        // left:-1.6rem;
        top: 50%;
        // transform: translateY(-50)
      }
      &:before {
        left: -1.6rem;
      }
      &:after {
        right: -1.6rem;
      }

      &__type {
        position: absolute;
        top: 5%;
        left: -2rem;
        width: 4rem;
        height: 4rem;
        background-color: #fff;
        border-radius: 100%;
        color: map-get($map: $text-colors, $key: 'white');
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        &--long {
          background-image: linear-gradient(to right, #b4ec51 7%, #429321);
        }
        &--short {
          background-image: linear-gradient(119deg, #ff8c3c 19%, #ff0089 95%);
        }
      }

      &__symbol {
        font-size: 1.6rem;
        font-weight: bold;
      }
      &__create-date {
        font-size: 1.4rem;
        font-style: italic;
        align-self: flex-end;
      }
      &__label {
        font-size: 1.2rem;
        font-weight: 300;
      }
      &__price {
        color: #fffd00;
      }
      &__amount {
        color: #ff9393;
      }

      &__open-price {
        color: map-get($map: $text-colors, $key: 'blue');
        font-size: 1.4rem;
        font-weight: bold;
      }
      &__close-price {
        color: map-get($map: $text-colors, $key: 'pink-2');
        font-size: 1.4rem;
        font-weight: bold;
      }

      &__price-time {
        font-size: 1.2rem;
        color: #d270f9;
      }

      &__divider {
        height: 1px;
        width: 100%;
        border-bottom: 1px dashed rgba(white, 0.5);
        margin: 2.4rem 0;
      }
    }
  }
  
  .interval-list{
      list-style-type: none;
      display: flex;
      margin:0;
      padding:0;
    cursor: pointer;
      li{
          transition: .3s;
          margin-right: 1.2rem;
          color: #949090;
          border-radius: 2rem;
          box-shadow: 0 3rem 2.4rem 0 rgba(13, 13, 13, 0.5);
          padding:1rem 2rem;
          &.active{
              color: map-get($map: $text-colors, $key: 'pink-2');
              background-color: map-get($map: $background-colors, $key: 'purple');
          }
      }
  }

}


  .modal-container{
    background-color: #2d2d2d;
    * {
        color: #fff;
    }
    .ant-modal-body{
        background-color: #2d2d2d;
        color: #fff;
        position:relative;
    }
    .btn-custom{
        width: 4.8rem;
        height: 4.8rem;
        background: rgba(black,0.24);
        border:none;
        outline:none;
        cursor: pointer;
        border-radius: 0.8rem;
        margin: 1.2rem;
        img{
            width: 50%;
        }
    }
    .flex{
        align-items: baseline;
        text-align: center;
    }
    .popup-icon{
        position: absolute;
        width:30%;
        left:50%;
        top:10%;
        transform: translateX(-50%);
        img{
            max-width:100%;
        }
    }
    .cover{
        max-width:100%;
        img{
            max-width: 100%;
        }
    }
  }
