@import "pages/Style/variable.scss";
.wallet-card {
  background-color: map-get($map: $background-colors, $key: "dark");
  padding: 3.2rem;
  height: auto;
  border-radius: 1.2rem;
  color: map-get($map: $text-colors, $key: "white");
  * {
    color: map-get($map: $text-colors, $key: "white");
  }
  &__title {
    text-transform: uppercase;
  }
}
.wallet-container {
  .wallet-balance {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__logo {
      position: relative;
      width: 10.8rem;
      height: 10.8rem;
      background-image: linear-gradient(to bottom right, #9a7af6, #ff4aa2);
      border-radius: 50%;
      box-shadow: 0 18px 64px 10px rgba(255, 104, 179, 0.24);
      img {
        position: absolute;
        max-width: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:after {
        position: absolute;
        width: 60%;
        height: 60%;
        background-color: rgba(white, 0.4);
        border-radius: 50%;
        content: " ";
        left: 20%;
        top: 20%;
      }
    }
    &__text {
      font-size: 3.6rem;
      margin-top: 2.4rem;
      color: map-get($map: $text-colors, $key: "white");
    }
    &__changes {
      font-size: 2rem;
      color: map-get($map: $text-colors, $key: "white");
      font-weight: 300;
      ins {
        color: #00bcd1;
        text-decoration: none;
      }
    }
    &__value {
      color: map-get($map: $text-colors, $key: "pink-2");
    }
  }
  .wallet-card {
    background-color: map-get($map: $background-colors, $key: "dark");
    padding: 3.2rem;
    height: auto;
    border-radius: 1.2rem;
    color: map-get($map: $text-colors, $key: "white");
    * {
      color: map-get($map: $text-colors, $key: "white");
    }
    &__title {
      text-transform: uppercase;
    }
  }
  .action-card {
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(140deg, #726c8b 36%, #523a51 81%);
    padding: 4.4rem 7rem;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0 2.4rem 9rem 2.4rem;
    position: relative;
    &__cover {
      position: absolute;
      height: 140%;
      right: 10%;
      top: -20%;
    }
  }
  .overflow-text {
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .transaction-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &-item {
      display: flex;
      padding: 2.4rem 0;
      &:not(:last-child) {
        border-bottom: 1px dashed rgba(white, 0.5);
      }
      &__type {
        width: 4rem;
        height: 4rem;
        // background-color: #fff;
        border-radius: 100%;
        color: map-get($map: $text-colors, $key: "white");
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        &--false {
          background-image: linear-gradient(to right, #b4ec51 7%, #429321);
        }
        &--true {
          background-image: linear-gradient(119deg, #ff8c3c 19%, #ff0089 95%);
        }
      }
      &__info {
        margin: 0 2.4rem;
      }
      &__amount {
        font-weight: bold;
      }
      &__total {
        text-align: center;
        align-items: center;
        justify-content: center;
        &--up {
          color: map-get($map: $text-colors, $key: "blue");
        }
        &--down {
          color: map-get($map: $text-colors, $key: "pink");
        }
        margin-left: auto;
        text-align: right;
      }
      &__btn {
        width: 10rem;
        height: 3rem;
        margin-top: 0.5rem;
        border-radius: 0.8rem !important;
        font-size: 1.4rem !important;
        text-transform: uppercase;
      }
    }
  }
}
.account-container {
  .user-info-container {
      margin-bottom: 7.6rem;
  }

  .user-info{
      &__avatar{
          width: 16rem;
          height: 16rem;
          border-radius: 50%;
          position: relative;
          display: flex;
          justify-content:center;
          align-items:center;
          @include border-gradient(#f46d7e, #7a4cda);
         &:after{
             width: 90%;
             height: 90%;
             left:5%;
             top: 5%;
             border-radius: 100%;
             content:" ";
             position: absolute;
             box-shadow: 0 18px 64px 10px rgba(255, 104, 179, 0.24);
         }
         img{
             width: 90%;
             height: 90%;
             border-radius: 100%;
         }
         input[type="file"]{
             opacity: 0;
             position:absolute;
             left:0;
             top:0;
             z-index:1000;
             height: 16rem;
             width: 16rem;
             cursor: pointer;
         }
      }
  }

  .badge {
    display: flex;
    justify-content: space-between;
    // background-color: #000000;
    padding: 3rem 0 3rem 3.2rem;
    border-radius: 1.2rem;
    background-image: url(/static/Assets/Image/Icon/levelBackground.png);
    background-size: cover;

    > div {
      // flex:1
      text-align: center;
    }
    &__space{
      opacity:0;
    }

    &__level {
      &__title {
        font-size: 1.8rem;
        color: map-get($map: $text-colors, $key: "white");
      }
      &__num {
        font-size: 5rem;
        color: map-get($map: $text-colors, $key: "pink");
      }
    }
    &__medal {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .medal {
        position: relative;
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        box-shadow: 2px 2px 15px 14px rgba(#eb006d,0.4);
        background-image: linear-gradient(to bottom, rgba(#ff8c3c,0.7), rgba(#ff0089,0.7));
        position: relative;
        &:after{
          position: absolute;
          display: block;          
          width: 80%;
          height: 80%;
          left:10%;
          top:10%;
          border-radius:100%;
          content:"";
          background-image: linear-gradient(to bottom, rgba(#ff8c3c,0.4), rgba(#ff0089,0.4));
        }
        &:before{
          position: absolute;
          width:70%;
          height: 70%;
          display: block;
          content:" ";
          left:15%;
          top:15%;
          background-image: linear-gradient(to bottom, #fde86d, #ffc311);
          border-radius: 100%;
          z-index: 1000;
        }

        &__level{
          position: absolute;
          width: 60%;
          left: 20%;
          top: 24%;
          z-index: 1200;
          
        }
        &__crow{
          position: absolute;
          width: 40%;
          top:0;
          left:30%;
          z-index: 20;
          transform: translateY(-75%)
        }
      }
    }
  }

  .navbox-container {
    padding: 0 4rem;
    margin-top: 10.6rem;
  }

  .navbox {
    position: relative;
    object-fit: contain;
    border-radius: 1.28rem;
    box-shadow: 0 0.7rem 0.8rem 0 rgba(black, 0.25);
    background-image: linear-gradient(140deg, #726c8b 36%, #523a51 81%);
    min-height: 9rem;
    padding: 5.6rem 3.6rem;
    font-size: 1.6rem;
    color: map-get($text-colors, "white");

    &__img {
      position: absolute;
      height:100%;
      right: 10%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
