@import 'pages/Style/variable.scss';


.footer-container {
  background-color: map-get($background-colors, 'dark') !important;
  color: map-get($text-colors, 'white') !important;
  padding: 0 5rem !important;
  overflow: hidden;
  img.logo-footer{
    max-width: 100%;
    margin-left: 1rem;
    @include responsive(XL) {
        margin-left: -7rem
    }
    @include responsive(MD) {
      margin-left: -5rem
    }
  }
  .social-icon{
    max-width:4.5rem;
    margin: 0 2.4rem 0 0;
  }

  .footer{
    &__contact-icon{
      font-size: 3.6rem;
      margin-right: 1.6rem;
    }
    &__copyright-text{
      color: rgba(map-get($text-colors, 'white'),0.5);
      margin: 4.6rem 0 1.6rem 0;
      text-align:center;
      
    }
    &__btn-appstore, &__btn-ggplay{
      img{
        height: 6rem;
        // max-height: 6rem;
      }
    }
    &__btn-appstore{
      margin-bottom: 2.4rem;
    }
  }
}