@import 'pages/Style/variable.scss';

.modal-container {
    z-index: 10000000000000;
    background-color: map-get($map: $background-colors, $key: 'page');
}

.modal-wrapper{
    .ant-modal-content{
        border-radius: 0.6rem !important;
        background-color: map-get($map: $background-colors, $key: 'page');
        color: #fff;
    }
    .ant-modal-close{
        top: 4rem;
        right: 4rem;
    }
}

@media (max-width: 768px){
    .ant-modal-content .ant-modal-body{
        // padding: 2.4rem 0
    }
}