@import "pages/Style/variable.scss";
.wallet-container {
  .wallet-balance {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__logo {
      position: relative;
      width: 10.8rem;
      height: 10.8rem;
      background-image: linear-gradient(to bottom right, #9a7af6, #ff4aa2);
      border-radius: 50%;
      box-shadow: 0 18px 64px 10px rgba(255, 104, 179, 0.24);
      img {
        position: absolute;
        max-width: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:after {
        position: absolute;
        width: 60%;
        height: 60%;
        background-color: rgba(white, 0.4);
        border-radius: 50%;
        content: " ";
        left: 20%;
        top: 20%;
      }
    }
    &__text {
      font-size: 3.6rem;
      margin-top: 2.4rem;
      color: map-get($map: $text-colors, $key: "white");
    }
    &__changes {
      font-size: 2rem;
      color: map-get($map: $text-colors, $key: "white");
      font-weight: 300;
      ins {
        color: #00bcd1;
        text-decoration: none;
      }
    }
    &__value {
      color: map-get($map: $text-colors, $key: "pink-2");
    }
  }
  .wallet-card {
    background-color: map-get($map: $background-colors, $key: "dark");
    padding: 3.2rem;
    height: auto;
    border-radius: 1.2rem;
    color: map-get($map: $text-colors, $key: "white");
    * {
      color: map-get($map: $text-colors, $key: "white");
    }
    &__title {
      text-transform: uppercase;
    }
  }
  .action-card {
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0 9px 10px 0 rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(140deg, #726c8b 36%, #523a51 81%);
    padding: 4.4rem 7rem;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0 2.4rem 9rem 2.4rem;
    position: relative;
    &__cover {
      position: absolute;
      height: 140%;
      right: 10%;
      top: -20%;
    }
  }
  .overflow-text {
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .transaction-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &-item {
      display: flex;
      padding: 2.4rem 0;
      &:not(:last-child) {
        border-bottom: 1px dashed rgba(white, 0.5);
      }
      &__type {
        width: 4rem;
        height: 4rem;
        // background-color: #fff;
        border-radius: 100%;
        color: map-get($map: $text-colors, $key: "white");
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        &--false {
          background-image: linear-gradient(to right, #b4ec51 7%, #429321);
        }
        &--true {
          background-image: linear-gradient(119deg, #ff8c3c 19%, #ff0089 95%);
        }
      }
      &__info {
        margin: 0 2.4rem;
      }
      &__amount {
        font-weight: bold;
      }
      &__total {
        text-align: center;
        align-items: center;
        justify-content: center;
        &--up {
          color: map-get($map: $text-colors, $key: "blue");
        }
        &--down {
          color: map-get($map: $text-colors, $key: "pink");
        }
        margin-left: auto;
        text-align: right;
      }
      &__btn {
        width: 10rem;
        height: 3rem;
        margin-top: 0.5rem;
        border-radius: 0.8rem !important;
        font-size: 1.4rem !important;
        text-transform: uppercase;
      }
    }
  }
}

@import "pages/Style/variable.scss";
.referral-container {
  .ref-card {
    background-color: map-get($map: $background-colors, $key: "dark");
    padding: 3rem 3.2rem;
    border-radius: 1.6rem;
    color: map-get($map: $text-colors, $key: "white");
    &__title {
      color: map-get($map: $text-colors, $key: "white");
      font-size: 1.8rem;
    }
    &__btn {
      width: 10rem;
      height: 4.8rem;
      margin-top: 1rem;
      border-radius: 0.8rem !important;
      font-size: 1.6rem !important;
      text-transform: uppercase;
    }
  }
  .ref-list-item {
    display: flex;
    align-items: center;
    margin: 3.2rem 0;
    color: map-get($map: $text-colors, $key: "white");
    &__avatar {
      width: 7.2rem;
      height: 7.2rem;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 1.2rem;
      margin-right: 1.6rem;
    }
  }

  .fee-card {
    border-radius: 12px;
    background-image: linear-gradient(153deg, #4b4469 24%, #523a51 85%);
    padding: 1.6rem 2.4rem;

    ul {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      li {
        width: 40%;
        white-space: nowrap;
        &:not(:last-child) {
          margin-bottom: 1.8rem;
        }
        &:nth-child(even) {
          margin-left: 15%;
        }
      }
    }
    &__title {
      font-size: 1.2rem;
    }
    &__content {
      font-size: 1.4rem;
      &--bold {
        font-weight: bold;
      }
    }
  }
}

.button-container {
  display: flex;
  justify-content: flex-end;
  border-radius: 50%;
  border-top-right-radius: unset;
}

.area-navigation {
  & .ant-menu-item {
    min-height: 5.2rem !important;
    // padding:1rem 3.8rem !important;
  }
  & .ant-menu-item:not(:last-child) {
    border-bottom: 0.1rem solid #292426;
  }
}



.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border: solid 1px #b228e8 !important;
  background-color: rgba(178, 40, 232, 0.17) !important;
  color: #93e0ff;
  height: unset !important;
  border-radius: 12px !important;
  padding: 1rem 2.4rem !important;
}
.ant-select-multiple .ant-select-selector{
  border: solid 1px #b228e8 !important;
  background-color: rgba(178, 40, 232, 0.17) !important;
  color: #93e0ff;
  height: unset !important;
  border-radius: 12px !important;
  padding: 1rem 2.4rem !important;
}

.my-select{
  display: flex;
  flex-direction: column;
  position: relative;
}
.ant-checkbox-checked .ant-checkbox-inner {
  border: solid 1px #b228e8 !important;
  background-color: rgba(178, 40, 232, 0.17) !important;
  color: #93e0ff;
}

