@import "pages/Style/variable.scss";

.my-breadcrumb{
    margin:0 5rem;
    ul{
        display: flex;
        list-style-type: none;
        padding:0;
        background-color: #262626;
        padding: 0.8rem 2.2rem;
        border-radius: 1.2rem;        
        li{
            margin-right: 1.6rem;
            position: relative;
            &:not(:last-child){
                &:after{
                    content:"/.";
                    margin-left: 0.6rem;
                    color: map-get($map: $text-colors, $key: 'gray');
                }
            }
        }
    }

    a{
        &:link,&:visited{
            color: map-get($map: $text-colors, $key: 'gray');;
        }
        &:hover{
            opacity:0.7
        }
    }

    &__title{
        font-size: 2rem;
        text-transform: uppercase;
        color: map-get($map: $text-colors, $key: 'white');
    }
}