@import 'pages/Style/variable.scss';
.button-container {
  display: inline-flex;
  justify-content: center;

  .button-content {
    padding: 1.2rem 3.6rem;
    font-size: 2rem;
    color: map-get($text-colors, 'white');
    background-image: linear-gradient(140deg, #8f9cc3 33%, #ff68b3 92%);
    border-radius: 5rem;
    border-top-right-radius: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    line-height: initial;
    white-space: nowrap;

    &.secondary{
      background-image: linear-gradient(106deg, #f9b4bd, #9573db);
      border-radius: 1.2rem;
    }

    .icon {
      margin: -3px 0 0 0;
      height: 1.4rem;
      width: 1.4rem;
    }

    &.isCard{
      background-color: map-get($background-colors, 'white');
      border: 1px solid map-get($main-colors, 'primary');  
      color: #333333;
      font-size: 1.4rem;
      &:hover{
        background-color: map-get($main-colors, 'primary');
      }   
    }

    &:hover, &:active {
      opacity:0.5;
    }

    &.disabled {
      background-color: grayscale($color: #989197) !important;
      opacity: 0.75;
      cursor: not-allowed;
    }

    &.transparent {
      background-color: transparent;
      background: transparent;
      color: map-get($text-colors, 'white');
    }
    &.reverse {
      background-color: map-get($main-colors, 'primary');
      color: #fff;
      &:hover {
        color: map-get($main-colors, 'primary');
        background-color: #fff;
      }
    }
    &.fullWidth {
      width: 100%;
    }
    &.narrow {
      padding: 1rem !important;
    }
  }
}

.half-width{width: 30%;}