@use "sass:map";
@import 'pages/Style/variable.scss';

html {
  font-size: 62.5%;
}
// override
body {
  background: map-get($background-colors, page);
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

@for $i from 0 through 100 {

  .PT#{$i} {
    padding-top: #{$i}px !important;
  }

  .PB#{$i} {
    padding-bottom: #{$i}px !important;
  }

  .PL#{$i} {
    padding-left: #{$i}px !important;
  }

  .PR#{$i} {
    padding-right: #{$i}px !important;
  }

  .MT#{$i} {
    margin-top: #{$i}px !important;
  }

  .MB#{$i} {
    margin-bottom: #{$i}px !important;
  }

  .ML#{$i} {
    margin-left: #{$i}px !important;
  }
  .MR#{$i} {
    margin-right: #{$i}px !important;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.cursor {
  &.pointer {
    cursor: pointer;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

.scroll-custom {
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    // box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #b7b9c5;
  }
}

.card {
  &.item-container {
    display: grid;

    @media only screen and (max-width: 501px) {
      grid-template-columns: 48% 48%;
      grid-column-gap: 2%;
    }

    @media only screen and (min-width: 502px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-column-gap: 10px;
    }
  }
}

.text {
  // default
  font-size: map-get($font-sizes, 'text-size');
  color: map-get($text-colors, 'main');
  text-align: center;
  margin: 0;
  padding-bottom: 5px;

  &.text-title {
    text-align: center;
    font-size: map-get($font-sizes, 'text-size-5x');
    color: map-get($text-colors, 'main');
    margin-bottom: 0;
  }

  &.text-content {
    text-align: center;
    color: map-get($text-colors, 'color-1');
    padding-bottom: 5px;
    margin-bottom: 0;
    line-height: 1.2;
  }

  &.text-help {
    font-size: map-get($font-sizes, 'text-size-sm');
    color: map-get($text-colors, 'color-1');
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  // text colors
  &.text-color-main {
    color: map-get($text-colors, main);
  }

  &.text-color-1 {
    color: map-get($text-colors, 'color-1');
  }

  &.text-color-2 {
    color: map-get($text-colors, 'color-2');
  }

  &.text-color-3 {
    color: map-get($text-colors, 'color-3');
  }

  &.text-color-4 {
    color: map-get($text-colors, 'color-4');
  }

  &.text-uppercase {
    text-transform: uppercase;
  }

  // text sizes
  &.text-size-xs {
    font-size: map-get($font-sizes, 'text-size-xs');
  }
  &.text-size-sm {
    font-size: map-get($font-sizes, 'text-size-sm');
  }
  &.text-size-1x {
    font-size: map-get($font-sizes, 'text-size-1x');
  }
  &.text-size-2x {
    font-size: map-get($font-sizes, 'text-size-2x');
  }
  &.text-size-3x {
    font-size: map-get($font-sizes, 'text-size-3x');
  }
  &.text-size-4x {
    font-size: map-get($font-sizes, 'text-size-4x');
  }
  &.text-size-5x {
    font-size: map-get($font-sizes, 'text-size-5x');
  }
  &.text-size-6x {
    font-size: map-get($font-sizes, 'text-size-6x');
  }

  &.text-uppercase {
    text-transform: uppercase;
  }

  &.text-lowercase {
    text-transform: lowercase;
  }

  &.text-capitalize {
    text-transform: capitalize;
  }

  &.text-bold {
    font-weight: bold;
  }

  &.text-center {
    text-align: center;
  }

  &.text-left {
    text-align: left;
  }

  &.text-right {
    text-align: right;
  }

  &.text-underline {
    text-decoration: underline;
  }
}

.flex {
  display: flex;
  flex-direction: row;

  &.direction-column {
    flex-direction: column;
    align-items: center;
  }

  &.justify-start {
    justify-content: flex-start;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.justify-space-around {
    justify-content: space-around;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
  &.align-start {
    align-items: flex-start;
  }
  &.align-end {
    align-items: flex-start;
  }
}

.notification-class {
  .ant-notification-notice-message {
    color:map-get($main-colors, 'primary');
    text-align: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.img {
  &.img-line {
    width: 100%;
    max-width: 500px;
  }
}

.container {
  width: 90%;
  max-width: 128rem;
  margin: 0 auto;
}

.heading {
  margin: 0;
  &#{&}--main,
  &--main {
    font-size: 2.8rem;
  }
  &#{&}--sub,
  &--sub {
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none !important;
  }
  &#{&}--20,
  &--20 {
    font-size: 2rem;
  }

  &--25 {
    font-size: 2.5rem;
  }
}

b {
  font-weight: bold;
}

.common-input {
  height: 4.8rem !important;
}

.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(black, 0.7);
  z-index: 999999;
  &__close {
    position: absolute;
    top: -4.8rem;
    right: 0;
    // transform: translateY(-200%);
    cursor: pointer;
  }
  &__container {
    position: relative;
    max-width: 90%;

    img{
      max-width: 100%;
      max-height: 80vh;
    }
  }
}

//Input class
.my-input{
  display: flex;
  flex-direction: column;
  position: relative;
  .insertAfter{
    position: absolute;
    right: 2.4rem;
    top:50%;
    transform: translateY(-50%);
    color: map-get($text-colors, 'white');
  }

  .insertBefore{
    position: absolute;
    left: 2.4rem;
    top:50%;
    transform: translateY(-50%);
    color: map-get($text-colors, 'white');
  }

  .ant-form-item-label{
    text-align: left;
  }
  .ant-form-item-required{
    &:before{
      display: none !important;
    }
  }
  .ant-form-item-label > label{
    color: map-get($text-colors, 'white');
  }
  &--hasAddonAfter{
    .ant-input{
      padding-right: 6.4rem !important;
    }
  }
  &--hasAddonBefore{
    .ant-input{
      padding-left: 5.2rem !important;
    }
  }
  .ant-input{
    //Default thing goes here
    border: solid 1px #ff9393 !important;
    background-color: rgba(255, 147, 147, 0.3) !important;
    color: map-get($text-colors, 'white');
    border-radius: 12px;
    padding: 1.2rem 2.4rem;
  }

  .ant-form-item-control{
    flex: initial !important;
  }

  &--invisible{
    .ant-input{
      // padding:0 !important;
      // margin:0 !important;
      padding-left:0;
      background-color: transparent !important;
      border-color: transparent !important;
      &:focus{
        border: solid 1px #b228e8 !important;
        background-color: rgba(178, 40, 232, 0.17) !important;
        color: #93e0ff;
        padding-left: 1.2rem;
      }
    }
  }

  &--purple{
    .ant-input{
      border: solid 1px #b228e8 !important;
      background-color: rgba(178, 40, 232, 0.17) !important;
      color: #93e0ff;
    }
    .ant-picker{
      border: solid 1px #b228e8 !important;
      background-color: rgba(178, 40, 232, 0.17) !important;
      color: #93e0ff;
      border-radius: 15px;
    }
   
  }
  &--ant-spec-item{
    .ant-select-selection-item{
      background-color: #262626 !important;
      border-radius: 15px !important;
    }
  }

  &--padingLeft{
    .ant-checkbox-group{
      margin-left: 4.2rem !important;
    }
  }

  &--blue{
    .ant-input{
      border: solid 1px #93e0ff !important;
      background-color: rgba(147, 224, 255, 0.17) !important;
    }
  }

  &--gray{
    .ant-input{
      border: solid 1px #93e0ff !important;
      background-color: rgba(147, 224, 255, 0.17) !important;
    }
  }
}