@import '~antd/dist/antd.less';
@primary-color: #93e0ff;
@select-height-lg: 48px;
@font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
@layout-body-background: #2d2d2d;